﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Arche.Master" AutoEventWireup="true" CodeBehind="AccueilMasseur.aspx.cs" Inherits="AFCEPF.AI107.Nomads.Presentation.AccueilMasseur" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <h1>Accueil Masseur</h1>
    <h2>Bonjour, .... (masseur)!</h2>
</asp:Content>
