﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="UCLeftPanelMasseur.ascx.cs" Inherits="AFCEPF.AI107.Nomads.Presentation.Masseurs.UCLeftPanelMasseur" %>

<div>
    Reapeter avec les liens/ fonctions du Masseur : éditer, supprimer, inscrire, autre ?

</div>
