﻿/* VAR GLOBALES ET ANIMATIONS DEBUT*/
:root {
    /*Thème couleurs*/
    --main-color: #65bd5d;
    --secondary-color: #b9ebc3;
    --title-color: white;
    --text-color: white;
    --text-color2: black;

    --on-hover: #5cc371;
}

@keyframes slideUpOdd {
    from {
        transform: translateY(50%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
       
    }
}

@keyframes slideUpEven {
    from {
        transform: translateY(50%);      
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
      
    }
}

/* VAR GLOBALES ET ANIMATIONS FIN*/

/* STYLES GLOBAL DEBUT */

    body {
        margin: 0;
        background-color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .root-page > h1{
        font-size: 36px;
        
    }

a {
color:forestgreen;
text-decoration: none;
}

a:visited {
    color: forestgreen;
}

.champs {
    margin: 1em 0em 0em 2em;
}

.bigIcon {
    text-align: center;
    margin: 5em;
    
}
h1 {
    margin: 0.5em 0em 0.5em 2em;
}
input[type="button"], input[type="submit"] {
    box-shadow: inset 0px 1px 0px 0px #caefab;
    background: linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
    background-color: #77d42a;
    border-radius: 6px;
    border: 1px solid #268a16;
    display: inline-block;
    cursor: pointer;
    color: #306108;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    margin: 0.5em 0.25em 0.5em 0.25em;
    padding: 2px 8px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #aade7c;
}
input[type="button"]:hover, input[type="submit"]:hover {
    background: linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
    background-color: #5cb811;
}
input[type="button"]:active, input[type="submit"]:active {
    position: relative;
    top: 1px;
}


/*sticky Footer*/
footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: black;
    color: white;
    margin-top:20px;
}
/* Panneau gauche d'Admin TENTATIVE DE COLLER UNE NAV SUR LA GAUCHE
.left-panel{
        
    background-color: slategray;
    height: 100%;
    width: 135px;
    background-size:contain;
}
    */


.left-panel {
    background-color: #e5e7e9;
    width: 100%;
    padding: 1em;
}
.error {
    --text-color: red;
    background-color: white;
    border: solid red;
    border-radius: 5px;
}
/*CSS de Rachid à voir avec lui */
.table {
    border: 0px;
}

.FirstCol{
    width: 150px;
}
.SecondCol {
    width: 200px
}
.underNav {
    background-color: #b9ebc3;
    margin: 0em 0em 0em 0em;
    overflow: hidden;
}

.underNav > ul {
    margin: 0;
    padding: 0;
}

.underNav > ul > li {
    display: inline-block;
    list-style-type: none;
}

.underNav > ul > li > a {
    color: black;
    background-color: #b9ebc3;
    display: block;
    line-height: 1em;
    padding: 0.5em 0.5em;
    text-decoration: none;
}
.inscription {
    margin: 2em 2em 2em 2.75em;
    padding: 2px;
    border: 2px solid #B9EBC3;
    border-radius: 10px;
}
.error {
    border: 3px solid #892626;
    padding: 2px;
    border-radius: 10px;
    background-color: #EB1A0E;
    color : white;
}
.success {
    border: 3px solid #009933;
    padding: 2px;
    border-radius: 10px;
    background-color: #1aff1a;
}
.underNav > ul > li:hover > a {
    background-color: var(--on-hover);
}

.masseur {
    margin: 1em 0em 3px 0em;
    padding: 5px;
}

.masseur > * {
    margin: 2px;
}

.article {
    padding: 10px;
    text-align: center;
}

/* STYLES GLOBAL FIN */

/*STYLE DE L ARCHE */
#wrapper > header,
#wrapper > footer,
#wrapper > nav,
#wrapper > article {
    padding: 0.8em;
}

#wrapper > header {
    background-color: var(--main-color, green );
    color: var(--title-color);
    padding: 1em;
    
    width:100%;
}

/*STYLE DE L ACCUEIL */
    .dashboard {
        display: grid;
        /*height: 100vh; sert à rien*/
        grid-template-columns: repeat(auto-fill, minmax(150px, 300px) ); /*il faut un point d'arrêt*/
        grid-auto-rows: 150px;
        grid-row-gap: 1em;
        justify-content: space-around;
        align-content: space-evenly;
        /*possible de factoriser avec place-content*/
    }

    .round-icon {
        min-width: 150px;
        padding: 15px 1em 15px;
        background-color: var(--secondary-color, green);
        justify-self: center;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .round-icon:hover {
        background-color: var(--on-hover);
        transform: scale(1.1) translateY(-1em);
    }

    .icons {
        box-sizing: border-box;
        display: block;
        padding-bottom: 15px;
    }

    .dashboard-link {
        box-sizing: border-box;
    }
  
    /*Style des listes en grid-view*/
    .titre-liste {
        width: 100%;
        margin-bottom: 15px;
    }

    .grid-liste {
        display: grid;
        /* height: 100vh;  change rien*/
        grid-template-columns: repeat(auto-fill, minmax(250px, 500px ) ); /*il faut un point d'arrêt*/
        grid-auto-rows: auto;
        grid-row-gap: 1em;
        justify-content: space-around;
        align-content: space-evenly;
    }

.liste-item {
    opacity: 0;
    background-color: var(--secondary-color,gainsboro);
    border-radius: 20px;
    padding: 15px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 2 0.7 auto;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: center;
}

.liste-item:hover {
    border: 2px solid green;
    background-color: var(--on-hover);
    transform: scale(1.1) translateY(-1em);
}

.liste-item:nth-child(odd) {
    animation: slideUpOdd 1s forwards;
}
.liste-item:nth-child(even) {
    animation: slideUpEven 1s forwards;
    animation-delay: 500ms;
}

/* STYLE POUR LES  SOUS PAGES DE DETAILS*/

.masseur-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: baseline;
}

.masseur-item {
    background-color: var(--secondary-color,honeydew);
    margin: 1em 50px 20px 2em;
    padding: 15px 1em 15px;
    border-radius: 15px;
}
.masseur-item:hover {
    border: 2px solid green;
    background-color: var(--on-hover);
    transform: scale(1.1) translateY(-1em);
}

.masseur-item:nth-child(odd) {
    animation: slideUpOdd 1s forwards;
}

.masseur-item:nth-child(even) {
    animation: slideUpEven 1s forwards;
    animation-delay: 500ms;
}
/* ordre des items */
#masseur-info {
    order: 1;
    flex:  1 0.8 300px ;
}
#masseur-admin {
    order: 2;
    flex: 1 0.8 300px;
   
}
#masseur-prestation {
    order: 3;
    flex: 2 1 300px;
    
}
#masseur-historique {
    order: 4;
    flex: 2 1 300px;
    margin-bottom: 2.5em;
}


