﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Arche.master.cs" Inherits="AFCEPF.AI107.Nomads.Presentation.Arche" %>

<!DOCTYPE html>

<html>
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Interface visualisation</title>
    <link href="css/Style.css" rel="stylesheet" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div id="wrapper">
            <header><a id="root-page" href="/AccueilNomads.aspx"><img src="<%= Page.ResolveUrl("~")%>images/LOGO-NOIR-BLANC-02.png" /></a></header>
            <!-- la nav a été déplacée dans l'accueil qui va servir de DashBoard grl -->
           
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    
                </asp:ContentPlaceHolder>
           
        </div>
    </form>
</body>
</html>
