﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Arche.Master" AutoEventWireup="true" CodeBehind="PageEnConstruction.aspx.cs" Inherits="AFCEPF.AI107.Nomads.Presentation.PageEnConstruction" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <div class="article">
        <h1>Still Coding... </h1>
    <img class=bigIcon src="/images/ComputerWork.png" />
    </div>
</asp:Content>
