﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Arche.Master" AutoEventWireup="true" CodeBehind="PlanningNomads.aspx.cs" Inherits="AFCEPF.AI107.Nomads.Presentation.PlanningNomads" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <h1>Planning Nomads</h1>
</asp:Content>
