﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="UCToggleBarPartenaire.ascx.cs" Inherits="AFCEPF.AI107.Nomads.Presentation.Partenaires.UCToggleBarPartenaire" %>
<nav class="underNav">

<ul>
        <li><a href="/AccueilNomads.aspx">Accueil</a></li>
        <li><a href="ListePartenaire.aspx">Liste des partenaires</a></li>
        <li> <a href="/Partenaires/AjoutPartenaire.aspx">Nouveau Partenaire</a></li>
        <li><a href="/Prestations/AjoutPrestation.aspx">Ajouter une nouvelle prestation</a></li>

    </ul>

    <!-- <a href="Partenaire.aspx">Partenaire</a> 
        T'en as pas besoin puisque tu genère un avec l'id du partenaire uù se trouve l'info-->

</nav>
</nav>